USE [master]
GO
/****** Object:  Database [dsrp_apuestas_deportivas]    Script Date: 19/12/2024 4:22:27 p. m. ******/
CREATE DATABASE [dsrp_apuestas_deportivas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dsrp_apuestas_deportivas', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\dsrp_apuestas_deportivas.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dsrp_apuestas_deportivas_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\dsrp_apuestas_deportivas_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dsrp_apuestas_deportivas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dsrp_apuestas_deportivas]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 19/12/2024 4:22:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[numero_documento] [varchar](15) NOT NULL,
	[nombre] [varchar](255) NOT NULL,
	[apellido_paterno] [varchar](255) NOT NULL,
	[apellido_materno] [varchar](255) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[contrasena] [varchar](50) NOT NULL,
	[saldo] [money] NOT NULL,
	[fecha_registro] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[transaccion]    Script Date: 19/12/2024 4:22:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transaccion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[id_tipo_transaccion] [int] NOT NULL,
	[monto_transaccion] [money] NOT NULL,
	[fecha_transaccion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[apuestas]    Script Date: 19/12/2024 4:22:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[apuestas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_partido] [int] NOT NULL,
	[id_transaccion] [int] NOT NULL,
	[id_tipo_apuesta] [int] NOT NULL,
	[resultado_apostado] [varchar](255) NOT NULL,
	[cuota] [float] NOT NULL,
	[estado_apuesta] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VW_JL_resumen_usuarios]    Script Date: 19/12/2024 4:22:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_JL_resumen_usuarios]
AS
SELECT u.id, 
	   CONCAT(u.nombre, ' ', u.apellido_paterno, ' ', u.apellido_materno) AS nombre_usuario,
	   u.email,
	   COALESCE(COUNT(CASE
							WHEN t.id_tipo_transaccion = 3 THEN t.id_usuario
				      END), 0) AS cantidad_apuestas_realizadas,
	   COALESCE(COUNT(CASE
							WHEN t.id_tipo_transaccion = 4 THEN t.id_usuario
				      END), 0) AS cantidad_apuestas_ganadas,
	   COALESCE(t2.monto_transaccion, 0) AS ganancia_total
FROM usuarios u
LEFT JOIN transaccion t ON u.id = t.id_usuario AND t.id_tipo_transaccion IN (3, 4)
LEFT JOIN apuestas a ON a.id_transaccion = t.id
LEFT JOIN (SELECT id_usuario, SUM(monto_transaccion) AS monto_transaccion 
		   FROM transaccion WHERE id_tipo_transaccion = 4
		   GROUP BY id_usuario) t2 ON t2.id_usuario = u.id
GROUP BY u.id, u.email, u.nombre, u.apellido_paterno, u.apellido_materno, t2.monto_transaccion;
GO
/****** Object:  Table [dbo].[evento_deportivo]    Script Date: 19/12/2024 4:22:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[evento_deportivo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre_evento] [varchar](500) NOT NULL,
	[deporte] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[partido]    Script Date: 19/12/2024 4:22:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[partido](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_evento] [int] NOT NULL,
	[fecha_hora_partido] [datetime] NOT NULL,
	[equipo_local] [varchar](255) NOT NULL,
	[equipo_visitante] [varchar](255) NOT NULL,
	[marcador_local] [int] NOT NULL,
	[marcador_visitante] [int] NOT NULL,
	[estado_partido] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[JW_JL_historial_apuestas]    Script Date: 19/12/2024 4:22:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[JW_JL_historial_apuestas]
AS
SELECT u.id, 
	   CONCAT(u.nombre, ' ', u.apellido_paterno, ' ', u.apellido_materno) AS nombre_usuario,
	   ed.nombre_evento,
	   p.equipo_local,
	   p.equipo_visitante,
	   t.monto_transaccion,
	   a.cuota,
	   t.fecha_transaccion
FROM transaccion t
INNER JOIN usuarios u ON u.id = t.id_usuario
LEFT JOIN apuestas a ON a.id_transaccion = t.id
LEFT JOIN partido p ON p.id = a.id_partido
LEFT JOIN evento_deportivo ed ON ed.id = p.id_evento
WHERE t.fecha_transaccion > DATEADD(MONTH, -1, GETDATE()) AND id_tipo_transaccion = 3;

GO
/****** Object:  UserDefinedFunction [dbo].[FN_JL_verificar_saldo]    Script Date: 19/12/2024 4:22:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_JL_verificar_saldo](@id_usuario INT,
									 @monto_apostado MONEY)
RETURNS TABLE
AS
RETURN(
		SELECT 
				CASE
					WHEN @monto_apostado <= saldo THEN 1
					ELSE 0
				END AS saldo_suficiente
		FROM usuarios
		WHERE id = @id_usuario
		);
GO
/****** Object:  Table [dbo].[t#a_t]    Script Date: 19/12/2024 4:22:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t#a_t](
	[id_usuario] [int] NOT NULL,
	[id_transaccion] [int] NOT NULL,
	[monto_transaccion] [money] NOT NULL,
	[fecha_transaccion] [datetime] NOT NULL,
	[ganancia] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipo_apuesta]    Script Date: 19/12/2024 4:22:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_apuesta](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tipo_apuesta] [varchar](255) NOT NULL,
	[descripcion_apuesta] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipo_transaccion]    Script Date: 19/12/2024 4:22:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_transaccion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[descripcion] [varchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[apuestas] ON 

INSERT [dbo].[apuestas] ([id], [id_partido], [id_transaccion], [id_tipo_apuesta], [resultado_apostado], [cuota], [estado_apuesta]) VALUES (31, 1, 3, 1, N'Real Madrid', 1.5, N'Ganada')
INSERT [dbo].[apuestas] ([id], [id_partido], [id_transaccion], [id_tipo_apuesta], [resultado_apostado], [cuota], [estado_apuesta]) VALUES (32, 2, 8, 2, N'Más de 1.5', 2, N'Perdida')
INSERT [dbo].[apuestas] ([id], [id_partido], [id_transaccion], [id_tipo_apuesta], [resultado_apostado], [cuota], [estado_apuesta]) VALUES (33, 3, 20, 3, N'Menos de 2.5', 1.8, N'Ganada')
SET IDENTITY_INSERT [dbo].[apuestas] OFF
GO
SET IDENTITY_INSERT [dbo].[evento_deportivo] ON 

INSERT [dbo].[evento_deportivo] ([id], [nombre_evento], [deporte]) VALUES (1, N'UEFA Champions League', N'Fútbol')
INSERT [dbo].[evento_deportivo] ([id], [nombre_evento], [deporte]) VALUES (2, N'Premier League', N'Fútbol')
INSERT [dbo].[evento_deportivo] ([id], [nombre_evento], [deporte]) VALUES (3, N'Wimbledon', N'Tenis')
SET IDENTITY_INSERT [dbo].[evento_deportivo] OFF
GO
SET IDENTITY_INSERT [dbo].[partido] ON 

INSERT [dbo].[partido] ([id], [id_evento], [fecha_hora_partido], [equipo_local], [equipo_visitante], [marcador_local], [marcador_visitante], [estado_partido]) VALUES (1, 1, CAST(N'2024-08-03T20:00:00.000' AS DateTime), N'Real Madrid', N'Liverpool', 2, 1, N'Finalizado')
INSERT [dbo].[partido] ([id], [id_evento], [fecha_hora_partido], [equipo_local], [equipo_visitante], [marcador_local], [marcador_visitante], [estado_partido]) VALUES (2, 1, CAST(N'2024-01-02T20:00:00.000' AS DateTime), N'Barcelona', N'Chelsea', 1, 1, N'Finalizado')
INSERT [dbo].[partido] ([id], [id_evento], [fecha_hora_partido], [equipo_local], [equipo_visitante], [marcador_local], [marcador_visitante], [estado_partido]) VALUES (3, 2, CAST(N'2024-11-20T12:00:00.000' AS DateTime), N'Manchester United', N'Arsenal', 3, 2, N'Finalizado')
SET IDENTITY_INSERT [dbo].[partido] OFF
GO
INSERT [dbo].[t#a_t] ([id_usuario], [id_transaccion], [monto_transaccion], [fecha_transaccion], [ganancia]) VALUES (17, 3, 200.0000, CAST(N'2024-08-03T12:00:00.000' AS DateTime), 300.0000)
INSERT [dbo].[t#a_t] ([id_usuario], [id_transaccion], [monto_transaccion], [fecha_transaccion], [ganancia]) VALUES (23, 20, 125.0000, CAST(N'2024-11-20T04:00:00.000' AS DateTime), 225.0000)
INSERT [dbo].[t#a_t] ([id_usuario], [id_transaccion], [monto_transaccion], [fecha_transaccion], [ganancia]) VALUES (7, 25, 150.0000, CAST(N'2024-03-25T23:59:00.000' AS DateTime), 285.0000)
GO
SET IDENTITY_INSERT [dbo].[tipo_apuesta] ON 

INSERT [dbo].[tipo_apuesta] ([id], [tipo_apuesta], [descripcion_apuesta]) VALUES (1, N'Resultado partido', N'Apuesta por el ganador o por el empate del partido')
INSERT [dbo].[tipo_apuesta] ([id], [tipo_apuesta], [descripcion_apuesta]) VALUES (2, N'Marcador local', N'Si el marcador del local es mayor o menor al indicado. Ejemplo (+1.5)')
INSERT [dbo].[tipo_apuesta] ([id], [tipo_apuesta], [descripcion_apuesta]) VALUES (3, N'Marcador visitante', N'Si el marcador del visitante es mayor o menor al indicado. Ejemplo (-1.5)')
SET IDENTITY_INSERT [dbo].[tipo_apuesta] OFF
GO
SET IDENTITY_INSERT [dbo].[tipo_transaccion] ON 

INSERT [dbo].[tipo_transaccion] ([id], [nombre], [descripcion]) VALUES (1, N'Depósito', N'Ingreso de dinero en la cuenta')
INSERT [dbo].[tipo_transaccion] ([id], [nombre], [descripcion]) VALUES (2, N'Retiro', N'Retiro de dinero de la cuenta')
INSERT [dbo].[tipo_transaccion] ([id], [nombre], [descripcion]) VALUES (3, N'Apuesta', N'Monto apostado en un evento deportivo')
SET IDENTITY_INSERT [dbo].[tipo_transaccion] OFF
GO
SET IDENTITY_INSERT [dbo].[transaccion] ON 

INSERT [dbo].[transaccion] ([id], [id_usuario], [id_tipo_transaccion], [monto_transaccion], [fecha_transaccion]) VALUES (1, 23, 1, 1000.0000, CAST(N'2024-10-01T10:00:00.000' AS DateTime))
INSERT [dbo].[transaccion] ([id], [id_usuario], [id_tipo_transaccion], [monto_transaccion], [fecha_transaccion]) VALUES (2, 20, 2, 500.0000, CAST(N'2024-12-02T11:00:00.000' AS DateTime))
INSERT [dbo].[transaccion] ([id], [id_usuario], [id_tipo_transaccion], [monto_transaccion], [fecha_transaccion]) VALUES (3, 17, 3, 200.0000, CAST(N'2024-08-03T12:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[transaccion] OFF
GO
SET IDENTITY_INSERT [dbo].[usuarios] ON 

INSERT [dbo].[usuarios] ([id], [numero_documento], [nombre], [apellido_paterno], [apellido_materno], [email], [contrasena], [saldo], [fecha_registro]) VALUES (1, N'1234567890', N'Juan', N'Pérez', N'Gómez', N'juan.perez1@example.com', N'password123', 1000.0000, CAST(N'2023-01-01' AS Date))
INSERT [dbo].[usuarios] ([id], [numero_documento], [nombre], [apellido_paterno], [apellido_materno], [email], [contrasena], [saldo], [fecha_registro]) VALUES (2, N'1234567891', N'María', N'López', N'Martínez', N'maria.lopez1@example.com', N'password456', 1500.0000, CAST(N'2023-02-01' AS Date))
INSERT [dbo].[usuarios] ([id], [numero_documento], [nombre], [apellido_paterno], [apellido_materno], [email], [contrasena], [saldo], [fecha_registro]) VALUES (3, N'1234567892', N'Carlos', N'García', N'Fernández', N'carlos.garcia1@example.com', N'password789', 2000.0000, CAST(N'2023-03-01' AS Date))
SET IDENTITY_INSERT [dbo].[usuarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__usuarios__7B886A63B95E3364]    Script Date: 19/12/2024 4:22:27 p. m. ******/
ALTER TABLE [dbo].[usuarios] ADD UNIQUE NONCLUSTERED 
(
	[numero_documento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__usuarios__AB6E6164864F0DAC]    Script Date: 19/12/2024 4:22:27 p. m. ******/
ALTER TABLE [dbo].[usuarios] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[partido] ADD  DEFAULT ((0)) FOR [marcador_local]
GO
ALTER TABLE [dbo].[partido] ADD  DEFAULT ((0)) FOR [marcador_visitante]
GO
ALTER TABLE [dbo].[apuestas]  WITH CHECK ADD  CONSTRAINT [FK_partido_apuesta] FOREIGN KEY([id_partido])
REFERENCES [dbo].[partido] ([id])
GO
ALTER TABLE [dbo].[apuestas] CHECK CONSTRAINT [FK_partido_apuesta]
GO
ALTER TABLE [dbo].[apuestas]  WITH CHECK ADD  CONSTRAINT [FK_tipo_apuesta] FOREIGN KEY([id_tipo_apuesta])
REFERENCES [dbo].[tipo_apuesta] ([id])
GO
ALTER TABLE [dbo].[apuestas] CHECK CONSTRAINT [FK_tipo_apuesta]
GO
ALTER TABLE [dbo].[apuestas]  WITH CHECK ADD  CONSTRAINT [FK_transaccion_apuesta] FOREIGN KEY([id_transaccion])
REFERENCES [dbo].[transaccion] ([id])
GO
ALTER TABLE [dbo].[apuestas] CHECK CONSTRAINT [FK_transaccion_apuesta]
GO
ALTER TABLE [dbo].[partido]  WITH CHECK ADD  CONSTRAINT [FK_evento_partido] FOREIGN KEY([id_evento])
REFERENCES [dbo].[evento_deportivo] ([id])
GO
ALTER TABLE [dbo].[partido] CHECK CONSTRAINT [FK_evento_partido]
GO
ALTER TABLE [dbo].[transaccion]  WITH CHECK ADD  CONSTRAINT [FK_tipo_transaccion] FOREIGN KEY([id_tipo_transaccion])
REFERENCES [dbo].[tipo_transaccion] ([id])
GO
ALTER TABLE [dbo].[transaccion] CHECK CONSTRAINT [FK_tipo_transaccion]
GO
ALTER TABLE [dbo].[transaccion]  WITH CHECK ADD  CONSTRAINT [FK_usuario_transaccion] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuarios] ([id])
GO
ALTER TABLE [dbo].[transaccion] CHECK CONSTRAINT [FK_usuario_transaccion]
GO
/****** Object:  StoredProcedure [dbo].[SP_JL_actualizar_partido]    Script Date: 19/12/2024 4:22:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_JL_actualizar_partido]
	@id_partido INT,
	@marcador_local INT,
	@marcador_visitante INT,
	@estado_partido VARCHAR(100)
AS
	SET NOCOUNT ON;

BEGIN
	BEGIN TRANSACTION;

	BEGIN TRY
		--Validación del partido
		IF NOT EXISTS (SELECT 1 FROM partido WHERE id = @id_partido)
		BEGIN
			RAISERROR('El partido no existe', 16, 1);
			RETURN;
		END;
		IF (SELECT estado_partido FROM partido WHERE id = @id_partido) = 'Finalizado'
		BEGIN
			RAISERROR('El partido ya ha finalizado', 16, 1);
			RETURN;
		END;

		--Validación de los marcadores
		IF @marcador_local < 0 OR @marcador_visitante <0 
		BEGIN
			RAISERROR('Los marcadores deben ser mayores a 0', 16, 1);
			RETURN;
		END

		--Validación del estado del partido
		IF @estado_partido NOT IN('Abierto', 'Cerrado', 'Finalizado')
		BEGIN
			RAISERROR('No es un estado de partido.
					   Los posibles estados del partido son:
						- Abierto.
						- Cerrado.
						- Finalizado.', 16, 1);
			RETURN;
		END;

		UPDATE partido 
		SET marcador_local = @marcador_local,
			marcador_visitante = @marcador_visitante,
			estado_partido = @estado_partido
		WHERE id = @id_partido			

		--Confirmamos la transacción
		COMMIT TRANSACTION;
	END TRY

	BEGIN CATCH
        -- Captura de errores y deshacer la transacción
        ROLLBACK TRANSACTION;

        -- Obtener información del error
        DECLARE @ErrorMessage NVARCHAR(4000);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(), 
            @ErrorSeverity = ERROR_SEVERITY(), 
            @ErrorState = ERROR_STATE();

        -- Lanza el error capturado
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_JL_registrar_apuesta]    Script Date: 19/12/2024 4:22:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_JL_registrar_apuesta]
	@id_usuario INT,
	@id_partido INT,
	@monto_apostado MONEY,
	@id_tipo_apuesta INT,
	@resultado_apostado VARCHAR(255),
	@cuota FLOAT
AS
	SET NOCOUNT ON;
	
BEGIN 
	BEGIN TRANSACTION;

	BEGIN TRY
		--Validación del usuario
		IF NOT EXISTS (SELECT 1 FROM usuarios WHERE id = @id_usuario) 
		BEGIN
			RAISERROR('El usuario no existe', 16, 1);
			RETURN;
		END

		--Validación del partido
		IF NOT EXISTS (SELECT 1 FROM partido WHERE id = @id_partido)
		BEGIN
			RAISERROR('El partido no existe', 16, 1);
			RETURN;
		END;
		IF (SELECT estado_partido FROM partido WHERE id = @id_partido) != 'Abierto'
		BEGIN
			RAISERROR('El partido no está disponible', 16, 1);
			RETURN;
		END;

		--Validación del monto
		IF @monto_apostado > (SELECT saldo FROM usuarios WHERE id = @id_usuario)
		BEGIN
			RAISERROR('Saldo Insuficiente', 16, 1);
			RETURN;
		END;
		IF @monto_apostado <= 0 
		BEGIN
			RAISERROR('El monto debe ser mayor a 0', 16, 1);
			RETURN;
		END

		--Insertamos la transaccion
		INSERT INTO [dbo].[transaccion] ([id_usuario], [id_tipo_transaccion], [monto_transaccion], [fecha_transaccion])
		VALUES (@id_usuario, 3, @monto_apostado, GETDATE());

		--Insertamos la apuesta
		INSERT INTO [dbo].[apuestas] ([id_partido], [id_transaccion], [id_tipo_apuesta], [resultado_apostado], [cuota], [estado_apuesta])
		VALUES (@id_partido, SCOPE_IDENTITY(), @id_tipo_apuesta, @resultado_apostado, @cuota, 'En curso');
		
		UPDATE usuarios
		SET saldo = saldo - @monto_apostado
		WHERE id = @id_usuario;

		--Confirmamos la transacción
		COMMIT TRANSACTION;
	END TRY

	BEGIN CATCH
        -- Captura de errores y deshacer la transacción
        ROLLBACK TRANSACTION;

        -- Obtener información del error
        DECLARE @ErrorMessage NVARCHAR(4000);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(), 
            @ErrorSeverity = ERROR_SEVERITY(), 
            @ErrorState = ERROR_STATE();

        -- Lanza el error capturado
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_JL_reporte_ganacias]    Script Date: 19/12/2024 4:22:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_JL_reporte_ganacias]
	@id_evento_deportivo INT
AS
	SET NOCOUNT ON;

BEGIN
	BEGIN TRANSACTION;

	BEGIN TRY
		--Validación del partido
		IF NOT EXISTS (SELECT 1 FROM evento_deportivo WHERE id = @id_evento_deportivo)
		BEGIN
			RAISERROR('El evento deportivo no existe', 16, 1);
			RETURN;
		END;

		SELECT ted.nombre_evento, ted.deporte, ted.cantidad_total_apostada, ted.total_ganancias_casa_apuestas 
		FROM   (SELECT ed.id,
					   ed.nombre_evento,
					   ed.deporte,
					   SUM(t.monto_transaccion) AS cantidad_total_apostada,
					   total_ganancias_casa_apuestas 
				FROM evento_deportivo ed
				LEFT JOIN partido p ON p.id_evento = ed.id
				LEFT JOIN apuestas a ON a.id_partido = p.id
				LEFT JOIN transaccion t ON t.id = a.id_transaccion AND t.id_tipo_transaccion = 3
				LEFT JOIN (SELECT ed.id, SUM(t.monto_transaccion) as total_ganancias_casa_apuestas
						   FROM apuestas a
						   LEFT JOIN transaccion t ON t.id = a.id_transaccion
						   LEFT JOIN partido p ON p.id = a.id_partido
						   LEFT JOIN evento_deportivo ed ON ed.id = p.id_evento
						   WHERE id_transaccion IN (SELECT DISTINCT t.id FROM transaccion t
			   										LEFT JOIN apuestas a ON a.id_transaccion = t.id AND t.id_tipo_transaccion = 3
													WHERE estado_apuesta = 'Perdida')
						   GROUP BY ed.id) a2 ON a2.id = ed.id 
				GROUP BY ed.id, ed.nombre_evento, ed.deporte, total_ganancias_casa_apuestas) AS ted
		WHERE ted.id = @id_evento_deportivo;

		--Confirmamos la transacción
		COMMIT TRANSACTION;
	END TRY

	BEGIN CATCH
        -- Captura de errores y deshacer la transacción
        ROLLBACK TRANSACTION;

        -- Obtener información del error
        DECLARE @ErrorMessage NVARCHAR(4000);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(), 
            @ErrorSeverity = ERROR_SEVERITY(), 
            @ErrorState = ERROR_STATE();

        -- Lanza el error capturado
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
USE [master]
GO
